.smallerText {
    font-size: .5rem;
}

body {
    background-color: lightgray;
}
.circlered{
    border: white solid .5rem ;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-color: #f5200b;
    color: white;
    margin: .5rem .5rem;
}

.circleyellow{
    border: white solid .5rem ;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-color: #f5900b;
    color: white;
    margin: .5rem .5rem;
}

.circlegreen{
    border: white solid .5rem ;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-color: #25861b;
    color: white;
    margin: .5rem .5rem;
}

.circleseafoam{
    border: white solid .5rem ;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-color: #07937a;
    color: white;
    margin: .5rem .5rem;
}

.imageSelectwork{
    width: 15rem;
    border: rgba(201, 196, 196, 0.3) solid .3rem;
}

.imagesThelast{
    width: 6rem;
    border: rgba(201, 196, 196, 0.3) solid .3rem;
}